<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Dashboard</title>

        <!--/*/ <th:block th:include="common/head :: head"></th:block> /*/-->
        <meta charset="utf-8">

        <meta name="viewport"
              content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href=
                "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <script src=
                        "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>

        <script src=
                        "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
        </script>

        <script src=
                        "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
        </script>

        <style>
        #notification {
            position: absolute;
            top: 0;
            right: 0;
        }

        .toast-color {
            color: white;
            background-color: #ff9800;
        }

    </style>
    </head>

    <body class="bg-dark text-white">

        <header>
            <!--/*/ <th:block th:include="common/nav :: html"></th:block> /*/-->

        </header>

        <main class="container">
            <p
                class="h1 text-center mt-5"
                th:text="${room == null} ? 'Dashboard House ' + ${house.getHouseId()} : 'Dashboard House ' + ${house.getHouseId()} + ' Room ' + ${room.getRoomId()}"
            ></p>
            <div class="mt-1">
                <a
                    th:href="${room == null} ? @{/houses} : @{'/houses/rooms/' + ${house.getHouseId()}}"
                    class="btn btn-outline-danger"
                    aria-current="true"
                    >Return</a
                >
            </div>
            <div class="row g-3 mt-5">
                <div class="col-md-12 col-lg-6">
                    <div
                        class="bg-white p-2 rounded-3 text-center text-dark"
                        id="temperatureChartContainer"
                    >
                        <div
                            class="spinner-border"
                            role="status"
                            aria-hidden="true"
                        ></div>
                        <p class="fs-3">Loading...</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div
                        class="bg-white p-2 rounded-3 text-center text-dark"
                        id="humidityChartContainer"
                    >
                        <div
                            class="spinner-border"
                            role="status"
                            aria-hidden="true"
                        ></div>
                        <p class="fs-3">Loading...</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div
                        class="bg-white p-2 rounded-3 text-center text-dark"
                        id="luminosityChartContainer"
                    >
                        <div
                            class="spinner-border"
                            role="status"
                            aria-hidden="true"
                        ></div>
                        <p class="fs-3">Loading...</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
            </div>
            <div class="position-relative">
                <div class="position-fixed bottom-0 end-0 p-3 z-5">
                    <div class="mb-2" id="warningTemperature"></div>
                    <div class="mb-2" id="warningHumidity"></div>
                    <div class="mb-2" id="warningLuminosity"></div>
                </div>
            </div>
        </main>

        <!-- Notification alerts -->
        <div class="toast toast-color" id="notification">
            <div class="toast-header toast-color">
                <strong class="mr-auto">Alert!</strong>
                <small>Just Now</small>

                <button type="button" class="ml-2 mb-1 close"
                        data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="toast-body">
            </div>
        </div>
        <input type="hidden" id="houseId" th:value="${house.getHouseId()}"/>
        <input type="hidden" id="roomId" th:value="${room != null} ? ${room.getRoomId()} : ''"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="../static/js/chart_line.js"
            th:src="@{/js/chart_line.js}"
        ></script>
        <script
            src="../static/js/dashboard.js"
            th:src="@{/js/dashboard.js}"
        ></script>
    </body>
</html>
